<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= recipe.name %></title>
    <link rel="stylesheet" href="/css/style-view.css">
</head>
<body>
    <div class="container">
            <div class="recipe-container">
                <header>
                    <h1><%= recipe.name %></h1>
                    <a class="back" href="/recipes/<%= userId %>">Back to Receipes</a>
                </header>
                <h3>Targets</h3>
                <div class="starting-container">
                    <div class="first-item" id="starting-gravity">
                        <h4>Starting Gravity:  </h4>
                        <p><%= recipe.startingGravity %></p>
                    </div>  
                    <div class="second-item" id="volume-container">
                        <h4>Batch Volume:  </h4>
                        <p><%= recipe.batchVolume %></p>
                    </div>
                    <div class="third-item" id="brew-efficiency-container">
                        <h4>Brew Efficiency:  </h4>
                        <p><%= recipe.brewEfficiency %></p>
                    </div>
                </div>
                <h3>Fermentables</h3>
                <div class="fermentable-container">
                    <div class="label-container">
                        <div class="first-item">Fermentable</div>
                        <div class="second-item">Percentage</div>
                        <div class="third-item">Amount (lbs)</div>
                    </div>
                    <div class="fermentable-list">
                        <% for(let i=0;i<recipe.selectedFermentable.length;i++) { %>
                            <div class="fermentable-item">
                                <% let fermentableStr = recipe.selectedFermentable[i] %>
                                <% let fermentableArr = fermentableStr.split('~'); %>
                                <div class="first-item" id="fermentableItem"><%= fermentableArr[0] %></div>
                                <div class="second-item" id="fermentablePercent"><%=  recipe.percentFermentable[i] %></div>
                                <div class="third-item" id="fermentableAmount"><%= recipe.amountFermentable[i] %></div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <h3>Hops</h3>
                <div class="hop-container">
                    <div class="label-container">
                            <div class="first-item">Fermentable</div>
                            <div class="second-item">Time (min)</div>
                            <div class="third-item">Amount (oz)</div>
                        </div>
                    <div class="hop-list">
                        <% for(let i=0;i<recipe.selectedHop.length;i++) { %>
                            <div class="hop-item">
                                <% let hopStr = recipe.selectedHop[i]; %>
                                <% let hopArr = hopStr.split('~'); %>
                                <div class="first-item" id="hopItem"><%= hopArr[0] %></div>
                                <div class="second-item" id="hopTime"><%= recipe.timeHop[i] %></div>
                                <div class="third-item" id="hopAmount"><%= recipe.amountHop[i] %></div>
                            </div>
                        <% } %>                            
                    </div>
                </div>
                <h3>Yeast</h3>
                <div class="yeast-container">
                    <div class="yeast-list">
                        <% let yeastStr = recipe.selectedYeast[0]; %>
                        <% console.log(yeastStr) %>
                        <% let yeastArr = yeastStr.split(","); %>
                        <div class="yeast-item"><%= yeastArr[0] %></div>
                    </div>
                </div>
                <h3><%= recipe.name %> Stats</h3>
                <div class="stat-container">
                    <div class="first-item" id="final-gravity">
                        <h4 class="label">Estimated Final Gravity: </h4>
                        <div class="data"><%= recipe.finalGravity %></div>
                    </div>
                    <div class="second-item" id="final-avb">
                        <h4 class="label">Estimated Final AVB: </h4>
                        <div class="data"><%= recipe.finalAVB %></div>
                    </div>
                    <div class="third-item" id="total-ibu">
                        <h4 class="label">Total IBU: </h4>
                        <div class="data"><%= recipe.totalIBU %></div>
                    </div>
                </div>
            </div>
        </div>    
</body>
</html>